{% extends 'base.html' %}


{% block content%}
<h3>Crear Datos</h3>
<ul>
    <h3>Creacion de datos</h3>
    <li><a href="/crearCliente">Crear un nuevo cliente</a></li>
    <li><a href="/crearVendedor">Crear un nuevo vendedor</a></li>
    <li><a href="/crearCategoria">Crear un nueva categoria</a></li>
    <li><a href="/crearProveedor">Ingresar nuevo proveedor</a></li>
    <li><a href="/crearProducto">Ingresar producto</a></li>
    <li><a href="/crearVenta">Ingresar nueva venta</a></li>
    <li><a href="/crearCompraProd">Ingresar nueva orden de compra</a></li>
    <li><a href="/crearBoleta">Crear boleta</a></li>
    <li><a href="/crearFactura">Crear Factura</a></li>
    <li><a href="/crearJefeVenta">Ingresar nuevo Jefe de ventas</a></li>
    <li><a href="/crearCaja">Vincular caja</a></li>
    <li><a href="/crearInformeVent">Crear informe de ventas</a></li>
</ul>
{% endblock %}