{% extends 'base.html' %}


{% block content%}

<h3 class="display-1">Listar Datos</h3>
<main class=" align-self-start card card-body">
    <div class="row">
        <div class="">
            <ul>
                <h3>Listas</h3>
                <li><a href="/listarClientes">Lista de Clientes</a></li>
                <li><a href="/listarVendedores">Lista de Vendedores</a></li>
                <li><a href="/listarCategorias">Lista de Categorias</a></li>
                <li><a href="/listarProveedor">Lista de Proveedores</a></li>
                <li><a href="/listarProductos">Lista de Productos</a></li>
                <li><a href="/listarVentas">Lista de ventas</a></li>
                <li><a href="/listarCompraProd">Lista de ordenes de compra</a></li>
                <li><a href="/listarBoleta">Lista de boletas</a></li>
                <li><a href="/listarFacturas">Lista de facturas</a></li>
                <li><a href="/listarJefesVent">Lista de jefes de venta</a></li>
                <li><a href="/listarCajas">Lista de cajas</a></li>
                <li><a href="/listarInformes">Lista de Informes</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}