{% extends 'base.html' %}

{% block content %}
{% block js %}
    <script>
        function TomarElemento(id){
            Swal.fire({
                'title':'Estas Seguro',
                "text":"Esta acción no se puede deshacer",
                "icon":"warning",
                "showCancelButton":true,
                "cancelButtonText":"No, Cancelar",
                "confirmButtonText":"Si, Eliminar",
                "confirmButtonColor":"red"
            })
            .then(function(result){
                if (result.isConfirmed){
                    window.location.href='/listarCompraProd/'+id
                }
            })
        }
    </script>
{% endblock%}
<style>
    th{
        padding: 20px;
        text-align: center;
        border: solid black 1px;
        background-color: aqua;
    }
    td{
        text-align: center;
        border: solid black 1px;
    }
</style>
<h1>Lista de Ordenes de compra</h1>
{% if not lista %}
<h1>No hay ordenes de compra agregadas</h1>
{% else %}
<table style="margin: 10px">
    <tr >
        <th>ID</th>
        <th>Fecha</th>
        <th>Proveedor</th>
        <th>Producto</th>
        <th>Cantidad a comprar</th>
        <th>Accion</th>
    </tr>
    {% for i in lista%}
    <tr>
        <td>{{i.id_compra}}</td>
        <td>{{i.fecha}}</td>
        <td>{{i.proveedor}}</td>
        <td>{{i.producto}}</td>
        <td>{{i.cantidad}}</td>
        <td><a class="btn btn-primary" href="{% url 'modificarCompraProd' i.id_compra %}">Modificar</a>
            <a class="btn btn-danger" onclick="TomarElemento({{i.id_compra}})" href="#">Borrar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}


{% endblock %}