{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="POST" class="card card-body">
                <h1>Modificar orden de Compra {{compraProd.id_compra}}, compra de {{compraProd.producto}}</h1>
                {{error}}
                {% csrf_token %}
    		    {{formulario.as_p}}
                <button class="btn btn-primary">
                    Modificar Orden
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}